.masonry-gallery {
    flex: 1 1 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    opacity: 0;
}

.masonry-gallery-column {
    /*flex: 0 0 100%;*/
    /*max-width: 100%;*/
    box-sizing: border-box;
    flex-grow: 0;
    flex-shrink: 0;
}

.masonry-gallery-img {
    width: 100%;
    display: block;
    height: auto;
    margin-bottom: 10px;
    transition: opacity .4s;
}

.masonry-gallery-img-loading{
    opacity: 0;
}

.masonry-gallery-img-loaded,
.masonry-gallery-loaded {
    opacity: 1;
}